hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #3D8361;
  border-width: 5px;
  width: 3%;
  height: 0;
  margin: 100px auto 100px auto;
}
body {
  color: #41514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 200%;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.5rem;
  color: #66BFBF;
  line-height: 2;
  padding-bottom: 10px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color: #11999E;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
p{
  line-height: 2;
}
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}


.intro{
  width: 30%;
  margin: auto;
}
.bottom-cloud {
  position: absolute;
  right: 1350px;
  top: 300px;
  height: 65px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 70px;
  height: 65px;
}
.mountain{
  position: absolute;
  bottom: 0;
}
.airplaine{
  position: absolute;
  right: 300px;
  top: 400px;
}
.paragliding{
  position: absolute;
  right: 1275px;
  top: 600px;

}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.douglaspic{
  height: 150px;
  width: 150px;
}
.problem-img{
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;

}
.coding-img{
  width: 25%;
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
}
.bottom-container{
  background-color: #66BFBF;
  position: relative;
 padding: 50px 0 20px;
}
.dk{
  color: #EAF6F6;
  font-size: 1.1rem;
  padding: 20px 0;
}
.footer-link{
  color: #11999E;
}
.btn{
  background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.cont{
  width: 40%;
  margin: 40px auto 60px;
}
